body  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


section {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vw;
    border: 1px solid black;
    
}

div {
    flex-basis: 0;
    flex: 1 1 0px;
    min-width: 5.5%;
    max-width: 5.5%;
    min-height: 5.5%;
    max-height: 5.5%;
    border: 1px solid black;
    flex-shrink: 0;
}

div:hover {
    background-color: red;
}