body  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10vw;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#game {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    
}

div {
    flex-basis: 0; 
    margin: 0;
    padding: 0;
    flex: 1 1 0px; 
    /* min-width: 5.5%;
    max-width: 5.5%;
    min-height: 5.5%;
    max-height: 5.5%; */
    border: 0.2px solid black;
    flex-shrink: 0; 
}

div:hover {
    background-color: black;
}

button {
    height: 10vh;
    width: 10vw;
    cursor: pointer;
    border-radius: 20px;
}