body  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10vw;
}

#buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#game {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    /* height: 500px; */
    margin: 0;
    /* border: 1px solid black;
     */
}

div {
    flex-basis: 0; 
    margin: 0px;
    padding: 0px;
    flex: 1 1 0px; 
    border: 0.1px solid black;
}

div:hover {
    background-color: black;
}

button {
    height: 10vh;
    width: 10vw;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

.opacity {
    font-weight: bold;
}